<!DOCTYPE html>
<html>
<head>
  <title>Flowplayer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//releases.flowplayer.org/6.0.5/flowplayer.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//releases.flowplayer.org/6.0.5/skin/functional.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= yield %>
</div>


</body>
</html>
